---
layout: default
---

<header class="container">
    <h1>Actívate</h1>
    <p>Agregador de encuentros culturales, dirigido por la comunidad. Nacido en el primer Hackatón de Venezuela.</p>
</header>

<section>
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      {% include item.html %}
    </div>
  </div>
</section>
